<div class="container">
    <br>
    <h1 class="text-gray-900  text-center  text-2xl font-bold font-mono mt-[80px] ">Select a template</h&>
    <div class="row">
        <div class="col-md-6">
            <a href="/users/resume-marker/1">
                <img class="img-fluid" src="resources/img/resume-blue.png "  alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="/users/resume-marker/2">
                <img class="img-fluid" src="resources/img/resume-green.png" alt="">
            </a>
        </div>
    </div>
</div>